@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
        background-image: url('./background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        overflow: hidden; 
}

#title{
        font-family: 'Montserrat', sans-serif;
        color: white;
        text-align: center;
}

#container{
        display: flex;
        flex-direction: column;
        align-items:center;
        
        width: 100%;
}

#calc{ 
        background: rgba(38,38,38,0.6);
        padding: 20px;
        justify-content: center;
}

#visor{
        background: transparent;
        -webkit-appearance: none;
        outline: 0;
        color: white;
        border: 1px solid white;
        padding: 5px;
        text-align: right;
        
        margin-left: 15px; 
        margin-bottom: 20px;
}

#buttons{
        width: 15rem;

        display: flex;
        justify-content: center;
        flex-flow: wrap row-reverse;
}

#buttons .button{
       font-family: 'Montserrat', sans-serif;
       padding-top: 10px;
       padding-bottom: 10px;
       vertical-align: middle;
       text-align: center;

       transition: 0.5s ease-in-out;
       color: white;
       cursor: pointer;

       width: 50px;
       font-size: 20px;
      
       border: white solid 1px; 
       
}

#buttons .button:hover{
        transition: 0.5s ease-in-out;
        background-color: rgba(1,34,46,0.5);
}

#clear{ 
        font-color: red;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
